html, body {
	margin: 0;
}
.h100{
	height: calc(100vh - 64px);
}
.form{
	display: flex;
	flex-direction: column;
	
}
.form input {
	margin-bottom: 10px;
}
.login{
	cursor: pointer;
	color: #ffff !important;
	text-decoration: none
}